

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    border-radius: 15px;
    padding: 40px 8px;
    margin: 5% 25%;
    background-color: bisque;
}

.container h1{
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bolder;
    font-size: 2.5rem;
}

.display-result{
    margin: 30px 20px;
    font-family: monospace;
    font-size: 3rem;
    font-weight: bolder;
    text-shadow: 1px 1px 1px rgb(250, 171, 171);
    padding: 20px;
}

.btn-container{
    border: 1px solid rgb(245, 117, 117);
    padding: 30px 20px;
    border-radius: 10px;

}

.btn-container button{
    font-size: 1.2rem;
    color: white;
    border-radius: 10px;
    border: none;
    min-width: 120px;
    cursor: pointer;
    padding: 10px 20px;
}

.startBtn{
    background-color: green;
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bolder;
    margin-right: 10px;
    
}

.startBtn:hover{
    background-color: rgb(119, 196, 119);
}

.stopBtn{
    background-color: red;
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bolder;
    margin-right: 10px;
    
}

.stopBtn:hover{
    background-color: rgb(238, 93, 93);
}

.resetBtn{
    background-color: blue;
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bolder;
    
}

.resetBtn:hover{
    background-color: rgb(99, 99, 233);
}